<div class="page-container">
  <div class="form-container">
    <div class="form-content">
    <h4>プロフィール写真変更</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="change-container">
          <div class="change-profile">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, class: "profile-image" %>
            <% else %>
              <%= image_tag "default_icon.jpg", class: "profile-image" %>
            <% end %>
          </div>
        </div>
        <div class="change-field-container">
          <div class="change-field">
             <div class="field">
                <%= f.label :自己紹介 %>
                <%= f.text_area :introduction, placeholder: "一言、記録や目標を記入して下さい(100文字以内)" , class: 'form-control', id: 'user_introduction' %>
              <div class="field">
              <%= f.label :プロフィール写真 %><br>
                <%= f.file_field :image, accept: '.jpg, .png,' %>
              </div>
              <div class="field">
                <%= f.submit "変更完了", class:"submit-btn" %>
              </div>
              <div class="field">
                <%= link_to  "/user/#{current_user.id}", class:"link" do %>
                  <i class="fa fa-reply" aria-hidden="true"></i>マイページへ戻る
                <% end %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
