<div class="page-container">
  <div class="follow-index">
    <h3> <%= @user.followings.count %> フォロー中</h3><br/>
      <% @users.each do |user| %>
      <% if user.image.attached? %>
        <%= image_tag user.image, class:"icon-image" %>
      <% else %>
        <%= image_tag "default_icon.jpg", class:"icon-image" %>
      <% end %>
      <p><%= link_to(user.name, "/user/#{user.id}") %></p>
      <p>自己紹介<i class="fa-solid fa-user"></i> <%= user.introduction %></p>
    <% end %>
  </div>
</div>