<div class="page-container">
  <div class="inside-container">
    <div class="profile-container">
      <div class="image-container">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class: "profile-image" %>
        <% else %>
          <%= image_tag "default_icon.jpg", class: "profile-image" %>
        <% end %>
      </div>
      <div class="info-container">
        <div class="info" >
          <h2><%= @user.name %></h2>
          <%= render "shared/followers", user: @user %>
          <%= render "shared/follow_button", user: @user %> 
          <div class="user-info">
            <p>メールアドレス : <span><%= @user.email %></span></p>
            <p><%= @user.name %>さんの投稿コース・・・<span><%= link_to @courses.count, index_user_course_path %></span></p>
          </div>
          <div class="icon-link">
            <% if @user == current_user %>
              <%= link_to edit_user_registration_path, class:"link" do %>
                <span>プロフィール写真変更</span>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

