<div class="page-container">
  <div class="inside-container">
    <div class="profile-container">
      <div class="image-container">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class: "profile-image" %>
        <% else %>
          <%= image_tag "default_icon.jpg", class: "profile-image" %>
        <% end %>
      </div>
      <div class="info-container">
        <div class="info" >
          <h2><%= @user.name %></h2>
          <div class="user-info">
            <p>メールアドレス : <span><%= @user.email %></span></p>
            <p>myコースの数・・・・<span><%= @courses.count %></span></p>
          </div>
          <div class="icon-link">
            <%= link_to edit_user_registration_path, class:"link" do %>
              <span>プロフィール写真変更</span>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

