<header class="header">
  <div class="header-container">
    <div class="header-left">
      <%= link_to root_path do%>
        <%= image_tag 'logo.png', alt: 'ロゴイメージ' %>
      <% end %>
    </div> 
    <div class="header-rigtht">
      <ul class="nav">
      <% if user_signed_in? %>
        <li class="header-nav-item">
          <%= link_to "TOP", root_path, class: "nav-text" %>
        </li>
        <li class="header-nav-item">
          <%= link_to "自分のコース", courses_path, class: "nav-text" %>
        </li>
        <li class="header-nav-item">
          <%= link_to "皆んなのコース", courses_path, class: "nav-text" %>
        </li>
        <li class="header-nav-item">
          <%= link_to "#{current_user.name}", users_show_path, class: "nav-text" %> 
        </li>
        <li class="header-nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-text" %>
        </li>
      <% else %> 
        <li class="header-nav-item">
          <%= link_to "TOP", root_path, class: "nav-text" %>
        </li>
        <li class="header-nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-text" %> 
        </li>
        <li class="header-nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-text" %>  
        </li>
      <% end %> 
      </ul>    
    </div>
  </div>
</header>
