<div class="page-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "#{current_user.name}のコース", mypage_path, class:"nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "全員のコース", otherpage_path, class:"nav-link" %>
    </li>
  </ul>
  <div class="inside-container">
    <div class="new-course">
      <%= link_to(new_course_path) do %> 
        <button type="button" class="btn btn-outline-success create-btn">新規作成</button>
      <% end %>
    </div> 
    <div class="panel-container">
      <% @courses.each do |course| %>
        <div class="course-panel">
          <div class="panel-lower">
            <div class ="course-content">
            <h2><%= link_to course.course_name, course_path(course.id) %></h2>
            <p>投稿者<i class="fa-solid fa-user"></i> <%= link_to(course.user.name, "/user/#{course.user.id}") %>さん</p>
            <p>コース説明<i class="fa-solid fa-pen-nib"></i> ・・・<%= course.course_description %></p>
            <p>距離<i class="fa-solid fa-person-running"></i> ・・・<%= course.distance %> km </p>
            <p>ロードタイプ<i class="fa-sharp fa-solid fa-road"></i> ・・・<%= @road_type[course.road_type] %></p>
            <p>コースルート<i class="fa-solid fa-route"></i> ・・・<%= @route[course.route] %></p>
            <p>公園やトイレ<i class="fa-solid fa-restroom"></i> ・・・<%= @toilet[course.toilet] %></p>
            <p>起伏<i class="fa-solid fa-mound"></i> ・・・<%= @undulation[course.undulation] %></p>
            <p>信号<i class="fa-solid fa-traffic-light"></i> ・・・<%= @signal[course.signal] %></p>
            <p>地図<i class="fa-solid fa-location-dot"></i> ・・・<%= course.address %></p>
            <p>コース写真<i class="fa-solid fa-image"></i> </p>
            </div>
            <div class ="course-image-content">
              <% if course.course_image.attached? %>
                <%= image_tag course.course_image, class: "course-image" %>
              <% else %>
                <%= image_tag "no-images.png", class: "no-image" %>
              <% end %>
            </div>
            <div class="course-icons">
                <div class="icon-link">
                <% if course.favorited?(current_user) %>
                  <%= link_to course_favorites_path(course.id), method: :delete, class: "favorite-button" do %>
                    <i class="fas fa-heart"></i><%= course.favorites.count %>
                  <% end %>
                <% else %>
                  <%= link_to course_favorites_path(course.id), method: :post do %>
                    <i class="far fa-heart"></i><%= course.favorites.count %>
                  <% end %>
                <% end %>
              </div>
              <div class="icon-link">
                <%= link_to  course_path(course.id), class: "comment-button" do  %>
                  <i class="fas fa-comment-alt "></i><%= "#{course.comments.count}" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

