<div class ="heading">
  <h3><%= @user.name %>さんの投稿コース一覧</h3>
</div>
<div class="page-container">
  <div class="index-user-container">
    <div class="panel-container">
      <% @courses.each do |course| %>
        <div class="course-panel">
          <div class="panel-lower">
            <div class ="course-content">
            <h2><%= link_to course.course_name, course_path(course.id) %></h2>
            <p>投稿者<i class="fa-solid fa-user"></i> <%= link_to(course.user.name, "/user/#{course.user.id}") %>さん</p>
            <p>コース作成日<i class="fa-solid fa-clock"></i> ・・・<%= course.created_at.strftime("%Y年%m月%d日") %></p>
            <p>コース説明<i class="fa-solid fa-pen-nib"></i> ・・・<%= course.course_description %></p>
            <p>コース総距離<i class="fa-solid fa-person-running"></i> ・・・<%= course.distance %> km </p>
            <p>コース写真<i class="fa-solid fa-image"></i> </p>
            </div>
            <div class ="course-image-content">
              <% if course.course_image.attached? %>
                <%= image_tag course.course_image, class: "course-image" %>
              <% else %>
                <%= image_tag "no-images.png", class: "no-image" %>
              <% end %>
            </div>
            <div class="course-icons">
                <div class="icon-link">
                  <div class="favorites-container">
                    <% if course.favorited?(current_user) %>
                      <%= link_to course_favorites_path(course.id), method: :delete, class: "link" do %>
                        <i class="fas fa-heart"></i> <%= course.favorites.count %>
                      <% end %>
                    <% else %>
                      <%= link_to course_favorites_path(course.id), method: :post, class: "link" do %>
                        <i class="far fa-heart"></i> <%= course.favorites.count %>
                      <% end %>
                    <% end %>
                  </div>  
              </div>
              <div class="icon-link">
                <%= link_to  course_path(course.id), class: "comment-button" do  %>
                  <i class="fas fa-comment-alt "></i> <%= "#{course.comments.count}" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
