<div class="page-container">
  <div class="form-container">
    <div class="form-content">
      <h2>新規コース投稿</h2>
      <div class="field-item-container">
        <%= form_with model: @course do |f| %>
          <div class="field-item">
            <%= f.label :コース名, class:"item-label" %><span class="item-sub-label">(30文字以内)</span><br />
            <%= f.text_field :course_name, class:"text-field" %>
          </div>
          <div class="field-item">
            <%= f.label :コース説明, class:"item-label" %><br />
            <%= f.text_area :course_description, class:"text-box" %>
          </div>
          <div class="field-item">
            <%= f.label :距離, class:"item-label" %><br />
            <%= f.number_field :distance, step: "0.5", autocomplete: "off", in: 1..42, class:"item-label" %><span class="item-sub-label">km</span><br />
          </div>
          <div class="field-item">
            ロードタイプ : <%= f.radio_button :road_type, 0 %>ロード<%= f.radio_button :road_type, 1, checked: true %>トレイル<%= f.radio_button :road_type, 2, class:"item-label" %>トラック<br>
          </div>
          <div class="field-item">
            コースルート : <%= f.radio_button :route, 0 %>周回<%= f.radio_button :route, 1, checked: true %>往復<%= f.radio_button :rroute, 2, class:"item-label" %>片道<br>
          </div>
          <div class="field-item">
            公園やトイレ : <%= f.radio_button :toilet, 0 %>少ない<%= f.radio_button :toilet, 1, checked: true %>普通<%= f.radio_button :toilet, 2, class:"item-label" %>多い<br>
          </div>
          <div class="field-item">
            起伏 : <%= f.radio_button :undulation, 0 %>少ない<%= f.radio_button :undulation, 1, checked: true %>普通<%= f.radio_button :undulation, 2, class:"item-label" %>多い<br>
          </div>
          <div class="field-item">
            信号機 : <%= f.radio_button :signal, 0 %>少ない<%= f.radio_button :signal, 1, checked: true %>普通<%= f.radio_button :signal, 2, class:"item-label" %>多い<br>
          </div>
          <div class="field-item">
            <%= f.label :コース写真, class:"item-label" %><br />
            <%= f.file_field :course_image, accept: '.jpg, .png,' %><br>
          </div>
          <div class="field-item">
            <%= f.label :address, '住所' %>
            <%= f.text_field :address, autofocus: true,placeholder: "住所を入力してください", class: "form-control" %>
          </div>
          <div class="field-item">
            <%= f.label :公開設定, class:"item-label" %><br />
            <%= f.select :public, [['公開',true],['非公開',false]], { include_blank: true, selected: 0 }, class:"short-field" %>
          </div>
          <div class="actions">
            <%= f.submit "投稿", class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
