<div class="page-container">
  <div class="form-container">
    <div class="form-content">
      <h2>新規コース投稿</h2>
      <div class="field-item-container">
        <%= form_with model: @course do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="field-item">
            <%= f.label :コース名, class:"item-label" %><span class="item-sub-label">(30文字以内)</span><br />
            <%= f.text_field :course_name, class:"text-field" %>
          </div>
          <div class="field-item">
            <%= f.label :コース説明, class:"item-label" %><span class="item-sub-label">(200文字以内)</span><br />
            <%= f.text_area :course_description, class:"text-box" %>
          </div>
          <div class="field-item">
            <%= f.label :距離, class:"item-label" %><br />
            <%= f.number_field :distance, step: "0.5", autocomplete: "off", in: 1..42 %><span class="item-label">km</span><br />
          </div>
          <div class="button-item">
            <%= f.label :ロードタイプ, class:"item-label" %><i class="fa-sharp fa-solid fa-road"></i> ・・・<%= f.radio_button :road_type, 0,class:"radio-button" %>ロード<%= f.radio_button :road_type, 1, checked: true,class:"radio-button" %>トレイル<%= f.radio_button :road_type, 2,class:"radio-button" %>トラック<br>
          </div>
          <div class="button-item">
            <%= f.label :コースルート, class:"item-label" %><i class="fa-solid fa-route"></i> ・・・<%= f.radio_button :route, 0,class:"radio-button" %>周回<%= f.radio_button :route, 1, checked: true,class:"radio-button" %>往復<%= f.radio_button :route, 2,class:"radio-button" %>片道<br>
          </div>
          <div class="button-item">
            <%= f.label :公園やトイレ, class:"item-label" %><i class="fa-solid fa-restroom"></i> ・・・<%= f.radio_button :toilet, 0,class:"radio-button" %>少ない<%= f.radio_button :toilet, 1, checked: true,class:"radio-button" %>普通<%= f.radio_button :toilet, 2,class:"radio-button" %>多い<br>
          </div>
          <div class="button-item">
            <%= f.label :起伏, class:"item-label" %><i class="fa-solid fa-mound"></i>・・・<%= f.radio_button :undulation, 0,class:"radio-button" %>少ない<%= f.radio_button :undulation, 1, checked: true,class:"radio-button" %>普通<%= f.radio_button :undulation, 2,class:"radio-button" %>多い<br>
          </div>
          <div class="button-item">
            <%= f.label :信号機, class:"item-label" %><i class="fa-solid fa-traffic-light"></i> ・・・<%= f.radio_button :signal, 0,class:"radio-button" %>少ない<%= f.radio_button :signal, 1, checked: true,class:"radio-button" %>普通<%= f.radio_button :signal, 2,class:"radio-button" %>多い<br>
          </div>
          <div class="field-item">
            <%= f.label :コース写真, class:"item-label" %><i class="fa-solid fa-image"></i><br />
            <%= f.file_field :course_image, accept: '.jpg, .png,' %><br>
          </div>
          <div class="field-item">
            <%= f.label :address, '住所',class:"item-label" %>
            <%= f.text_field :address, class: 'form-control' %>
          </div>
          <div class="field-item">
            <%= f.label :公開設定, class:"item-label" %><br />
            <%= f.select :public, [['公開',true],['非公開',false]], { include_blank: true, selected: 0 }, class:"short-field" %>
          </div>
          <div class="actions">
            <%= f.submit "投稿する", class:"submit-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
